<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,112}</string>
                <key>spriteSourceSize</key>
                <string>{57,112}</string>
                <key>textureRect</key>
                <string>{{0,0},{57,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{57,0},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dirty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,120}</string>
                <key>spriteSourceSize</key>
                <string>{73,120}</string>
                <key>textureRect</key>
                <string>{{107,0},{73,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>froggy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,60}</string>
                <key>spriteSourceSize</key>
                <string>{62,60}</string>
                <key>textureRect</key>
                <string>{{180,0},{62,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>man.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,31}</string>
                <key>spriteSourceSize</key>
                <string>{42,31}</string>
                <key>textureRect</key>
                <string>{{242,0},{42,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sidebush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,311}</string>
                <key>spriteSourceSize</key>
                <string>{120,311}</string>
                <key>textureRect</key>
                <string>{{284,0},{120,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{425,111}</string>
                <key>spriteSourceSize</key>
                <string>{425,111}</string>
                <key>textureRect</key>
                <string>{{0,311},{425,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>woodbridge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,61}</string>
                <key>spriteSourceSize</key>
                <string>{333,61}</string>
                <key>textureRect</key>
                <string>{{0,422},{333,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>woodtimber.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,65}</string>
                <key>spriteSourceSize</key>
                <string>{33,65}</string>
                <key>textureRect</key>
                <string>{{333,422},{33,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sprite_sheet.png</string>
            <key>size</key>
            <string>{425,487}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12deba45074cd34e240f577a46dcc02f:a4f97ad56a67ef494c531e5b48fb6738:15058cce2ad93a426e9374343a733a78$</string>
            <key>textureFileName</key>
            <string>sprite_sheet.png</string>
        </dict>
    </dict>
</plist>
