<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>U.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,64}</string>
                <key>spriteSourceSize</key>
                <string>{73,64}</string>
                <key>textureRect</key>
                <string>{{295,272},{73,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bronze_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bush1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,60}</string>
                <key>spriteSourceSize</key>
                <string>{120,60}</string>
                <key>textureRect</key>
                <string>{{84,0},{120,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bush2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,44}</string>
                <key>spriteSourceSize</key>
                <string>{53,44}</string>
                <key>textureRect</key>
                <string>{{204,0},{53,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_bronze.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,61}</string>
                <key>spriteSourceSize</key>
                <string>{60,61}</string>
                <key>textureRect</key>
                <string>{{257,0},{60,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishTile_097.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{317,0},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground_wood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,94}</string>
                <key>spriteSourceSize</key>
                <string>{380,94}</string>
                <key>textureRect</key>
                <string>{{0,84},{380,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground_wood_broken.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,94}</string>
                <key>spriteSourceSize</key>
                <string>{380,94}</string>
                <key>textureRect</key>
                <string>{{0,178},{380,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jetpack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,160}</string>
                <key>spriteSourceSize</key>
                <string>{133,160}</string>
                <key>textureRect</key>
                <string>{{0,272},{133,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lifes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,71}</string>
                <key>spriteSourceSize</key>
                <string>{52,71}</string>
                <key>textureRect</key>
                <string>{{133,272},{52,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>springMan_hurt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,141}</string>
                <key>spriteSourceSize</key>
                <string>{110,141}</string>
                <key>textureRect</key>
                <string>{{185,272},{110,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sprite_sheet.png</string>
            <key>size</key>
            <string>{381,432}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abe8a96d06dc7c6f6dc4e13bf90ebf85:ed48352f3e8f93b3c0fa617f7479a9ab:15058cce2ad93a426e9374343a733a78$</string>
            <key>textureFileName</key>
            <string>sprite_sheet.png</string>
        </dict>
    </dict>
</plist>
